@page "/computer"

@using FieldMRIServices.Model
@using Syncfusion.Blazor.DropDowns
@attribute [Authorize(Roles = "Admin")]


@inject IComputerServices computerService
@inject NavigationManager navigationManager
@inject IJSRuntime js

<h1 style="margin-left:200px;">Computers</h1>

<div style="max-width:1900px">
    <SfGrid @ref="SfComputerGrid" AllowTextWrap="true" AllowExcelExport="true" AllowPdfExport="true" AllowSorting="true" DataSource="computerData" Toolbar="@toolbar">

        <GridEditSettings Mode="EditMode.Normal" AllowAdding="true" AllowEditing="true" AllowDeleting="true">
            <HeaderTemplate>
                <span>@(GetDialogHeaderText(context as ComputerModel))</span>
            </HeaderTemplate>
            <FooterTemplate>
                <SfButton OnClick="@Save" IsPrimary="true">@DialogButtonCaption</SfButton>
                <SfButton OnClick="@Cancel">Cancel</SfButton>
            </FooterTemplate>
        </GridEditSettings>
        <GridEvents OnCellSave="SaveRecipe" OnBatchSave="OnBatchUpdateHandler" OnToolbarClick="TooBarBtnClickHandler" OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue=" ComputerModel"></GridEvents>
        <GridColumns>

            <GridColumn AllowAdding="false" IsPrimaryKey="true" Field="@nameof(ComputerModel.Id)" Width="50px"></GridColumn>
            <GridColumn Field="@nameof(ComputerModel.GeneralImage)" HeaderText="Image" Width="120">
                <Template>
                    @{
                        var imageUrl = (context as ComputerModel).GeneralImage;
                        <div class="image">
                            <img style="width:50px; height:50px;" src="@imageUrl" />
                        </div>
                    }
                </Template>
                <EditTemplate>
                    <SfUploader ID="uploadFiles" AllowedExtensions=".jpg,.png,.jpeg" Multiple="false">
                        <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                    </SfUploader>
                </EditTemplate>

            </GridColumn>
            <GridColumn HeaderText="Manufacturer" Field="@nameof(ComputerModel.ComputerName)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Model" Field="@nameof(ComputerModel.Model)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Qty." Field="@nameof(ComputerModel.Qty)" Width="120px"></GridColumn>           
            <GridColumn HeaderText="Serial" Field="@nameof(ComputerModel.Serial)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Location" Field="@nameof(ComputerModel.Location)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Hard Drive" Field="@nameof(ComputerModel.HardDrive)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Memory" Field="@nameof(ComputerModel.Memory)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Player" Field="@nameof(ComputerModel.Player)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Serial" Field="@nameof(ComputerModel.Serial)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Location" Field="@nameof(ComputerModel.Location)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Network" Field="@nameof(ComputerModel.Network)" Width="120px"></GridColumn>
            <GridColumn HeaderText="SCSI" Field="@nameof(ComputerModel.SCSI)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Mutliple Comm" Field="@nameof(ComputerModel.MultipleCom)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Video" Field="@nameof(ComputerModel.Video)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Tag" Field="@nameof(ComputerModel.Tag)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Status" Field="@nameof(ComputerModel.Status)" AllowGrouping="false" Width="150px"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {

    private string DialogButtonCaption { get; set; }

    private SfGrid<ComputerModel> SfComputerGrid { get; set; }

    private bool VisibleProp { get; set; } = false;

    private List<ComputerModel> computerData = new();
    public ComputerModel computerModel = new();
    public List<ComputerPhotoModel> photos = new();
    public ComputerPhotoModel computerPhotoModel = new();

    public int DefaultValue = 100;

    public string UploadedFile { get; set; }
    public bool Visibility { get; set; }


    private List<object> toolbar = new List<object> { "Add", "Update", "Edit", "Delete", "Cancel", "Search", "ExcelExport", "PdfExport" };

    protected override async Task OnInitializedAsync()
    {
        VisibleProp = true;

        computerData = await computerService.GetComputerAsync();

        VisibleProp = false;
    }

    private async Task SaveRecipe()
    {
        var result = await computerService.AddOrUpdateComputerAsync(computerModel);
        switch (result)
        {
            case 200:
                Visibility = true;
                break;

            case 201:
                Visibility = true;
                break;

            case 400:
                Visibility = true;
                break;

            case 404:
                Visibility = true;
                break;

            case 406:
                Visibility = true;
                break;
        }
    }


    public void BeginHandler(ActionEventArgs<Computer> Args)

    {

        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save && Args.Action == "Add")

        {

            Args.Data.Id = DefaultValue++;    //set the default value while adding.

            //save the file name / url in grid datasource. You can generate the byte and store here.

            Args.Data.GeneralImage = computerModel.GeneralImage + UploadedFile;

        }
        else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save && Args.Action == "Edit")

        {

            //save the file name / url in grid datasource. You can generate the byte and store here.

            Args.Data.GeneralImage = computerModel.GeneralImage + UploadedFile;
        }
    }


    public async void ActionBeginHandler(ActionEventArgs<ComputerModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await computerService.AddOrUpdateComputerAsync(computerModel);
                computerData = await computerService.GetComputerAsync();
            }
            else if (args.Action == "Edit")
            {
                await computerService.UpdateComputerModel(args.Data);
                computerData = await computerService.GetComputerAsync();
            }
        }
        else if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            bool confirm = await js.InvokeAsync<bool>("window.confirm", "Are you sure you want to really delete?");
            if (confirm)
            {
                await computerService.DeleteComputerAsync(args.RowData.Id);

                computerData = (await computerService.GetComputerAsync()).ToList();

                await SfComputerGrid.Refresh();
            }
        }
    }

    public async void ActionCompleteHandler(ActionEventArgs<ComputerModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await computerService.AddOrUpdateComputerAsync(computerModel);
                computerData = (await computerService.GetComputerAsync()).ToList();
            }
            else
            {
                if (args.Action == "Edit")
                {
                    await computerService.UpdateComputerModel(computerModel);
                    computerData = (await computerService.GetComputerAsync()).ToList();

                }
            }
        }
    }

    public async void TooBarBtnClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id.Contains("_excleExport"))
        {
            await SfComputerGrid.ExportToExcelAsync();
        }
        else if (args.Item.Id.Contains("_pdfExport"))
        {
            await SfComputerGrid.ExportToPdfAsync();
        }
    }

    private async void OnChange(UploadChangeEventArgs args)
    {
        try
        {
            foreach (var file in args.Files)
            {
                string format = string.Empty;
                if (file.FileInfo.Name.ToLower().Contains("png"))
                    format = "image/png";

                if (file.FileInfo.Name.ToLower().Contains("jpg"))
                    format = "image/jpg";

                if (file.FileInfo.Name.ToLower().Contains("jpeg"))
                    format = "image/jpeg";

                var selectedFile = file.File;

                await using MemoryStream fs = new MemoryStream();
                await file.File.OpenReadStream(256000000).CopyToAsync(fs);
                byte[] somBytes = GetBytes(fs);
                string imageData = $"data:{format};base64,{Convert.ToBase64String(somBytes, 0, somBytes.Length)}";
                computerModel.GeneralImage = imageData;

            }
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", ex.Message);
        }


    }
        public static byte[] GetBytes(Stream stream)
        {
            var bytes = new byte[stream.Length];
            stream.Seek(0, SeekOrigin.Begin);
            stream.ReadAsync(bytes, 0, bytes.Length);
            stream.Dispose();
            return bytes;
        }



    private string GetDialogHeaderText(ComputerModel computerModel)
    {
        if (computerModel.Id == 0)
        {
            DialogButtonCaption = "Add";
            return "Add Computer";
        }
        else
        {
            DialogButtonCaption = "Update";
            return $"Edit Details: {computerModel.ComputerName} {computerModel.Location}";
        }
    }

    private async Task Cancel()
    {
        await SfComputerGrid.CloseEditAsync();
    }
    private async Task Save()
    {
        await SfComputerGrid.EndEditAsync();
    }

    public async Task OnBatchUpdateHandler(BeforeBatchSaveArgs<ComputerModel> args)
    {
        var addedRecords = args.BatchChanges.AddedRecords;
        var updateRecords = args.BatchChanges.ChangedRecords;
        var deleteRecords = args.BatchChanges.DeletedRecords;

        foreach (ComputerModel computer in addedRecords)
        {
            await computerService.AddOrUpdateComputerAsync(computer);
            computerData = (await computerService.GetComputerAsync()).ToList();
        }
    }

}
