@page "/otherpage"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.RichTextEditor


@inject IOtherService OtherService 
@inject IJSRuntime js

<h3 class="mb-r">Other</h3>

<div style="max-width:1900px">
    <SfGrid @ref="SfOtherGrid" AllowTextWrap="true" AllowExcelExport="true" AllowPdfExport="true" AllowSorting="true" DataSource="otherData" Toolbar="@toolbar">
        
        <GridEditSettings Mode="EditMode.Normal" AllowAdding="true" AllowEditing="true" AllowDeleting="true">
            <HeaderTemplate>
                <span>@(GetDialogHeaderText(context as OtherModel))</span>
            </HeaderTemplate>
            <FooterTemplate>
                <SfButton OnClick="@Save" IsPrimary ="true">@DialogButtonCaption</SfButton>
                <SfButton OnClick="@Cancel">Cancel</SfButton>
            </FooterTemplate>
        </GridEditSettings>
        <GridEvents OnBatchSave="OnBatchUpdateHandler"  OnToolbarClick="TooBarBtnClickHandler" OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue =" OtherModel"></GridEvents>
        <GridColumns>

            <GridColumn AllowAdding="false" IsPrimaryKey="true" Field="@nameof(OtherModel.Id)" Width="50px"></GridColumn>
            <GridColumn Field="@nameof(OtherModel.GeneralImage)" HeaderText="Image" Width="120">
                <Template> 
                    @{
                        var imageUrl = (context as OtherModel).GeneralImage;
                        <div class="image">
                            <img style="width:50px; height:50px;" src="@imageUrl" />
                        </div>
                    }
                </Template>
                <EditTemplate>                   
                    <SfUploader ID="uploadFiles" AllowedExtensions=".jpg,.png,.jpeg" Multiple="false">
                        <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                    </SfUploader>
                </EditTemplate>

            </GridColumn>
            <GridColumn HeaderText="Manufacturer" Field="@nameof(OtherModel.Model)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Qty." Field="@nameof(OtherModel.Qty)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Type" Field="@nameof(OtherModel.Type)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Serial" Field="@nameof(OtherModel.Serial)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Location" Field="@nameof(OtherModel.Location)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Qty." Field="@nameof(OtherModel.Qty)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Tag" Field="@nameof(OtherModel.Tag)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Bar Code" Field="@nameof(OtherModel.BarCodes)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Status" Field="@nameof(OtherModel.Status)" AllowGrouping="false" Width="150px"></GridColumn>
        </GridColumns> 
    </SfGrid>
</div>

@code {

    private string DialogButtonCaption { get; set; }

    private SfGrid<OtherModel> SfOtherGrid { get; set; }

    private bool VisibleProp { get; set; } = false;

    private List<OtherModel> otherData = new();
    public OtherModel otherModel = new();
    public List<OtherPhoto> photos = new();
    public OtherPhoto otherPhotoModel = new();

    public int DefaultValue = 100;

    public string UploadedFile { get; set; }

    private List<object> toolbar = new List<object> { "Add", "Update","Edit","Delete", "Cancel", "Search", "ExcelExport", "PdfExport" };

    protected override async Task OnInitializedAsync()
    {
        VisibleProp = true;

        otherData = await OtherService.GetOthers();

        VisibleProp = false;
    }

    public void BeginHandler(ActionEventArgs<Other> Args)

    {

        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save && Args.Action == "Add")

        {

            Args.Data.Id = DefaultValue++;    //set the default value while adding.

            //save the file name / url in grid datasource. You can generate the byte and store here.

            Args.Data.GeneralImage = otherModel.GeneralImage + UploadedFile;

        }
        else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save && Args.Action == "Edit")

        {

            //save the file name / url in grid datasource. You can generate the byte and store here.

            Args.Data.GeneralImage = otherModel.GeneralImage + UploadedFile;
        }
    }


    public async void ActionBeginHandler(ActionEventArgs<OtherModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await OtherService.AddOrUpdateOtherAsync(otherModel);
            }
            else if (args.Action == "Edit")
            {
                await OtherService.AddOrUpdateOtherAsync(otherModel);
            }
        }
        else if(args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            bool confirm = await js.InvokeAsync<bool>("window.confirm", "Are you sure you want to really delete?");
            if (confirm)
            {
                await OtherService.DeleteOther(args.RowData.Id);
                otherData = (await OtherService.GetOthers()).ToList();
                await SfOtherGrid.Refresh();
            }
        }
    }

    public async void ActionCompleteHandler(ActionEventArgs<OtherModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await OtherService.AddOrUpdateOtherAsync(otherModel);
            }
        }
    }

    public async void TooBarBtnClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id.Contains("_excleExport")) 
        {
            await SfOtherGrid.ExportToExcelAsync();
        }
        else if(args.Item.Id.Contains("_pdfExport"))
        {
            await SfOtherGrid.ExportToPdfAsync();
        }
    }

    private async void OnChange(UploadChangeEventArgs args)
    {
        try
        {
            foreach (var file in args.Files)
            {
                string format = string.Empty;
                if (file.FileInfo.Name.ToLower().Contains("png"))
                    format = "image/png";

                if (file.FileInfo.Name.ToLower().Contains("jpg"))
                    format = "image/jpg";

                if (file.FileInfo.Name.ToLower().Contains("jpeg"))
                    format = "image/jpeg";

                var selectedFile = file.File;

                await using MemoryStream fs = new MemoryStream();
                await file.File.OpenReadStream(256000000).CopyToAsync(fs);
                byte[] somBytes = GetBytes(fs);
                string imageData = $"data:{format};base64,{Convert.ToBase64String(somBytes, 0, somBytes.Length)}";
                otherModel.GeneralImage = imageData;

            }
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", ex.Message);
        }
    }


    public static byte[] GetBytes(Stream stream)
    {
        var bytes = new byte[stream.Length];
        stream.Seek(0, SeekOrigin.Begin);
        stream.ReadAsync(bytes, 0, bytes.Length);
        stream.Dispose();
        return bytes;
    }



    private string GetDialogHeaderText(OtherModel otherModel)
    {
        if(otherModel.Id == 0)
        {
            DialogButtonCaption = "Add";
            return "Add Other";
        }
        else
        {
            DialogButtonCaption = "Update";
            return $"Edit Details: {otherModel.ComputerName} {otherModel.Model}";
        }
    }

    private async Task Cancel()
    {
        await SfOtherGrid.CloseEditAsync();
    }
    private async Task Save()
    {
        await SfOtherGrid.EndEditAsync();
    }

    public async Task OnBatchUpdateHandler(BeforeBatchSaveArgs<OtherModel> args)
    {
        var addedRecords = args.BatchChanges.AddedRecords;
        var updateRecords = args.BatchChanges.ChangedRecords;
        var deleteRecords = args.BatchChanges.DeletedRecords;

        foreach(OtherModel other in addedRecords)
        {
            await OtherService.AddOther(other);
        }
    }

}


