@page "/videopage"
@page "/videopages"
@using Syncfusion.Blazor.Buttons

@attribute [Authorize(Roles = "Admin")]

@inject IVideoService videoService
@inject NavigationManager navigationManager
@inject IJSRuntime js

<h1 style="200px">Video Cards</h1>

<div style="max-width:1900px">
    <SfGrid @ref="SfVideoGrid" AllowTextWrap="true" AllowExcelExport="true" AllowPdfExport="true" AllowSorting="true" DataSource="videoData" Toolbar="@toolbar">

        <GridEditSettings Mode="EditMode.Normal" AllowAdding="true" AllowEditing="true" AllowDeleting="true">
            <HeaderTemplate>
                <span>@(GetDialogHeaderText(context as VideoModel))</span>
            </HeaderTemplate>
            <FooterTemplate>
                <SfButton OnClick="@Save" IsPrimary="true">@DialogButtonCaption</SfButton>
                <SfButton OnClick="@Cancel">Cancel</SfButton>
            </FooterTemplate>
        </GridEditSettings>
        <GridEvents OnBatchSave="OnBatchUpdateHandler" OnToolbarClick="TooBarBtnClickHandler" OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue=" VideoModel"></GridEvents>
        <GridColumns>

            <GridColumn ShowInColumnChooser="false" IsPrimaryKey="true" Field="@nameof(VideoModel.Id)" Width="50px"></GridColumn>
            <GridColumn Field="@nameof(HarddriveModel.GeneralImage)" HeaderText="Image" Width="120">
                <Template>
                    @{
                        var imageUrl = (context as VideoModel).GeneralImage;
                        <div class="image">
                            <img style="width:50px; height:50px;" src="@imageUrl" />
                        </div>
                    }
                </Template>
                <EditTemplate>
                    <SfUploader ID="uploadFiles" AllowedExtensions=".jpg,.png,.jpeg" Multiple="false">
                        <UploaderEvents ValueChange="OnChange"></UploaderEvents>
                    </SfUploader>
                </EditTemplate>

            </GridColumn>
            <GridColumn HeaderText="Manufacturer" Field="@nameof(VideoModel.ComputerName)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Model" Field="@nameof(VideoModel.Model)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Qty." Field="@nameof(VideoModel.Qty)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Serial" Field="@nameof(VideoModel.Serial)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Location" Field="@nameof(VideoModel.Location)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Tag" Field="@nameof(VideoModel.Tag)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Bar Code" Field="@nameof(VideoModel.BarCodes)" Width="120px"></GridColumn>
            <GridColumn HeaderText="Status" Field="@nameof(VideoModel.Status)" AllowGrouping="false" Width="150px"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {

    private string DialogButtonCaption { get; set; }

    private SfGrid<VideoModel> SfVideoGrid { get; set; }

    private bool VisibleProp { get; set; } = false;

    private List<VideoModel> videoData = new();
    public VideoModel videoModel = new();
    public List<VideoPhotoModel> photos = new();
    public VideoPhotoModel videoPhotoModel = new();

    public int DefaultValue = 100;

    public string UploadedFile { get; set; }

    private List<object> toolbar = new List<object> { "Add", "Update", "Edit", "Delete", "Cancel", "Search", "ExcelExport", "PdfExport" };

    protected override async Task OnInitializedAsync()
    {
        VisibleProp = true;

        videoData = await videoService.GetVideosAsync();

        VisibleProp = false;
    }

    public void BeginHandler(ActionEventArgs<Video> Args)

    {

        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save && Args.Action == "Add")

        {

            Args.Data.Id = DefaultValue++;    //set the default value while adding.

            //save the file name / url in grid datasource. You can generate the byte and store here.

            Args.Data.GeneralImage = videoModel.GeneralImage + UploadedFile;

        }
        else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save && Args.Action == "Edit")

        {

            //save the file name / url in grid datasource. You can generate the byte and store here.

            Args.Data.GeneralImage = videoModel.GeneralImage + UploadedFile;
        }
    }


    public async void ActionBeginHandler(ActionEventArgs<VideoModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await videoService.AddOrUpdateVideoAsync(args.Data);
                videoData = await videoService.GetVideosAsync();
            }
            else if (args.Action == "Edit")
            {

                await videoService.UpdateVideoModel(args.Data);
                videoData = await videoService.GetVideosAsync();
            }
        }
        else if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            bool confirm = await js.InvokeAsync<bool>("window.confirm", "Are you sure you want to really delete?");
            if (confirm)
            {
                await videoService.DeleteVideosAsync(args.RowData.Id);    

                videoData = (await videoService.GetVideosAsync()).ToList();
                await SfVideoGrid.Refresh();
            }
            else
            {
                if (args.Action == "Edit")
                {
                    await videoService.UpdateVideoModel(videoModel);

                }
            }
        }
    }

    public async void ActionCompleteHandler(ActionEventArgs<VideoModel> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (args.Action == "Add")
            {
                await videoService.AddOrUpdateVideoAsync(videoModel);
            }
        }
    }

    public async void TooBarBtnClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id.Contains("_excleExport"))
        {
            await SfVideoGrid.ExportToExcelAsync();
        }
        else if (args.Item.Id.Contains("_pdfExport"))
        {
            await SfVideoGrid.ExportToPdfAsync();
        }
    }

    private async void OnChange(UploadChangeEventArgs args)
    {
        try
        {
            foreach (var file in args.Files)
            {
                string format = string.Empty;
                if (file.FileInfo.Name.ToLower().Contains("png"))
                    format = "image/png";

                if (file.FileInfo.Name.ToLower().Contains("jpg"))
                    format = "image/jpg";

                if (file.FileInfo.Name.ToLower().Contains("jpeg"))
                    format = "image/jpeg";

                var selectedFile = file.File;

                await using MemoryStream fs = new MemoryStream();
                await file.File.OpenReadStream(256000000).CopyToAsync(fs);
                byte[] somBytes = GetBytes(fs);
                string imageData = $"data:{format};base64,{Convert.ToBase64String(somBytes, 0, somBytes.Length)}";
                videoModel.GeneralImage = imageData;

            }
        }
        catch (Exception ex)
        {
            await js.InvokeVoidAsync("alert", ex.Message);
        }
    }


    public static byte[] GetBytes(Stream stream)
    {
        var bytes = new byte[stream.Length];
        stream.Seek(0, SeekOrigin.Begin);
        stream.ReadAsync(bytes, 0, bytes.Length);
        stream.Dispose();
        return bytes;
    }



    private string GetDialogHeaderText(VideoModel videoModel)
    {
        if (videoModel.Id == 0)
        {
            DialogButtonCaption = "Add";
            return "Add Other";
        }
        else
        {
            DialogButtonCaption = "Update";
            return $"Edit Details: {videoModel.ComputerName} {videoModel.Model}";
        }
    }

    private async Task Cancel()
    {
        await SfVideoGrid.CloseEditAsync();
    }
    private async Task Save()
    {
        await SfVideoGrid.EndEditAsync();
    }

    public async Task OnBatchUpdateHandler(BeforeBatchSaveArgs<VideoModel> args)
    {
        var addedRecords = args.BatchChanges.AddedRecords;
        var updateRecords = args.BatchChanges.ChangedRecords;
        var deleteRecords = args.BatchChanges.DeletedRecords;

        foreach (VideoModel hard in addedRecords)
        {
            await videoService.AddOrUpdateVideoAsync(hard);
        }
    }



}
